.header {
    grid-area: header;
    background-color: #FF8733;
    padding: 0.7%;
    /* Adicione padding para melhorar a aparência */
}

.banner {
    grid-area: banner;
    background-color: beige;
    padding: 0.%;
    /* Adicione padding para melhorar a aparência */
}

.footer {
    grid-area: footer;
    background-color: #FF8733;
    padding: 1.3%;
    /* Adicione padding para melhorar a aparência */
}

.burguer {
    /* background-color: aqua; */
    grid-area: burguer;
    padding: 0.7%;
    /* Adicione padding para melhorar a aparência */
}

.menu {
    background-color: #FF8733;
    grid-area: menu;
    padding: 2%;
    /* Adicione padding para melhorar a aparência */
}

@media (min-width: 1440px) {
    .mae {
        display: grid;
        grid-template-columns: 0.5fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            "menu banner banner"
            "menu burguer burguer"
            "footer footer footer";
        gap: 0.2%;
        /* Adicione um espaço entre os itens do grid */
    }
    .menutext{
        margin: 5%;
    }

    .burguer {
        display: flex;
        gap: 8px;
    }

    /* burguer 01 */
    .img-bg1 {
        width: 90%;
        border-radius: 3px;
    }
}

/* Estilos responsivos */
@media (max-width: 425px) {
    .mae {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "banner"
            "burguer"
            "menu"
            "footer";
    }

    .logo-header {}

    .burguer {
        display: flex;
        flex-direction: column;
        gap: 0px;
        /* Empilhar as divs verticalmente */
    }

    .img-bg1 {
        width: 98%;
        border-radius: 10px;
    }
}

body {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.burguer1,
.burguer2,
.burguer3,
.burguer4 {
    padding: 1%;
}

.burguer button {
    background-color: #4f4caf;
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.text-bg {
    text-align: center;
}

.burguer button:hover {
    background-color: #45a049;
    color: white;
}
.text-principal{
    margin: 1%;
    text-align: center;

}

h1 {
    text-align: center;
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}
li {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}